<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/9c7fc42c0a.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">     
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Books Are Great, Actually! - ARCHIVE</title>
</head>
<body>
    <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
        <a href="/" class="navbar-brand"><img src="/img/heartbook.png"></a>
        <button class="navbar-toggler" data-toggle='collapse' data-target="#navLinks" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navLinks">
            <form class="form-inline mr-auto">
                <button class="btn btn-sm nav-btn" type="button"><a href="/" class="nav-link">SEARCH</a></button>
                <button class="btn btn-sm nav-btn" type="button"><a href="/books" class="nav-link">ARCHIVE</a></button>
                <button class="btn btn-sm nav-btn" type="button"><a href="/books/submit" class="nav-link">SUBMIT BOOK</a></button>
            </form>
            <p class="booksawesome my-auto"><span class="booksawesome-bracket">[</span> Books Are Great, Actually! <span class="booksawesome-bracket">]</span></p>
        </div>
    </nav>