<% include ./partials/header %>

    <section class="container-fluid px-0">
        <div class="row justify-content-around formatSection">
            <div class="col-xl-3 col-lg-2 col-md-2 d-none d-xl-block d-lg-block d-md-block"></div>
            <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10">
                <div class="formatContainer text-white text-center d-flex flex-column align-items-center">
                    <div id="formatBox" class="d-flex flex-column justify-content-top align-items-center">
                        <h1 class="welcomeHead">Uploading Guidelines</h1>
                        <p class="welcomeText">First off, thank you for contributing!</p>
                        <p class="guideHead">Please follow these simple guidelines when uploading your book.</p>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="guide-title">OUR UPLOADING GUIDELINES</h5>
                                <ul class="guide-text text-left">
                                    <li class="guide-item"><span class="guide-bold">Please double check the spelling of names and titles, and the year.</span><p class="guide-p">This will ensure data accuracy and facilitate searches!</p></li>
                                    <li class="guide-item"><span class="guide-bold">Please make sure your book isn't already in the system.</span><p class="guide-p">We have a duplicate check in place, but if you enter different information than what already exists, it may not be caught as such.</p></li>
                                </ul>
                                <a href="books/submit" class="guide-return-link"><span class="beans">Cool beans, return to the Book Drop!</span></a>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
            <div class="col-xl-3 col-lg-2 col-md-2 d-none d-xl-block d-lg-block d-md-block"></div>
        </div>
    </section>

<% include ./partials/footer %>